@import "base/mixins";
@import "base/variables";
@import "libs/fonts";
html{
  overflow-x: hidden;
}
*,
input,
*::before, *::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: rgba(2, 18, 6, 0.7);
}
body{
  padding: 0;
  margin: 0 auto;
}
.container{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a{
  display: block;
  text-decoration: none;
}
.h1, h1 {
  font-size: 54px;
  font-weight: 600;
  line-height: normal; }

.h2, h2 {
  font-size: 45px;
  font-weight: 600;
  line-height: normal; }

p {
  font-size: 18px;
  line-height: 160%; }

.p1 {
  font-size: 21px;
  line-height: 160%; }

.p2 {
  font-size: 20px;
  line-height: 160%; }

.p3 {
  font-size: 18px;
  line-height: 160%;}

.p4 {
  font-size: 16px;
  line-height: 160%; }

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  border: none;
  transition: all 0.3s; }
.fade{
  background: rgba(0,0,0,.6);
  display: none;
  position: fixed;
  z-index: 5;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

@import "blocks/button";
@import "blocks/header";
@import "blocks/banner";
@import "blocks/clients";
@import "blocks/software";
@import "blocks/price";
@import "blocks/footer";
@import "blocks/media";