@mixin before_dot ($right,$bottom,$display){
  &:before{
    content: '';
    position: absolute;
    z-index: 1;
    right: $right;
    bottom: $bottom;
    width: 6.8px;
    height: 6.8px;
    border-radius: 100%;
    background: $main-color;
    opacity: .5;
    display: $display;
  }
}
@mixin before_mini-dot($right,$bottom,$display){
  &:before{
    content: '';
    position: absolute;
    z-index: 1;
    right: $right;
    bottom: $bottom;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: $main-color;
    opacity: .3;
    display: $display;
  }
}
@mixin before-marker() {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url("../../img/icons/marker.svg");
    opacity: 1;
  }
}
