@mixin before_dot{
  &:before{
    content: '';
    position: absolute;
    z-index: 1;
    right: 19%;
    bottom: 22px;
    width: 6.8px;
    height: 6.8px;
    border-radius: 100%;
    background: $main-color;
    opacity: .5;
  }
}
@mixin before_mini-dot{
  &:before{
    content: '';
    position: absolute;
    z-index: 1;
    right: 17%;
    bottom: 23px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: $main-color;
    opacity: .3;
  }
}
//@mixin orange-circle($width,$height,$top,$right,$bottom,$left) {
//  position: absolute;
//  width: $width;
//  height: $height;
//  top: $top;
//  right: $right;
//  bottom: $bottom;
//  left: $left;
//  z-index: -1;
//  background-image: url("../../img/orange_circle.png");
//}
//@mixin blue-circle($width,$height,$top,$right,$bottom,$left) {
//  position: absolute;
//  width: $width;
//  height: $height;
//  top: $top;
//  right: $right;
//  bottom: $bottom;
//  left: $left;
//  z-index: -1;
//  background-image: url("../../img/mc_circle.png");
//}
@mixin before-marker() {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url("../../img/icons/marker.svg");
    opacity: 1;
  }
}
