.banner{
  margin-bottom: 110px;
  position: relative;
  &__info{
    width: 510px;
    position: relative;
    align-items: center;
    margin: auto 0;
  }
  &__title{
    position: relative;
    color: #021206;
    margin-bottom: 25px;
    span{
      color: $main-color;
      display: inline-block;
    }
  }
  &__title-dot1{
    position: relative;
    left: -10px;
    font-size: 90%;
    opacity: .7;
  }
  &__title-dot2{
    position: relative;
    left: -18px;
    font-size: 70%;
    opacity: .7;
  }
  &__subtitle{
    font-weight: 400;
    margin-bottom: 30px;
    span{
      font-weight: 500;
    }
  }
  &__form{
    width: 470px;
    margin-bottom: 37px;
    .banner-form{
      &__block{
        position: relative;
      }
      &__input{
        width: 100%;
        height: 65px;
        padding: 19px 145px 19px 25px;
        border: none;
        border-radius: 6px;
        font-size: 18px;
        line-height: 160%;
        filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
      }
      &__btn{
        position: absolute;
        right: 6px;
        top: 8px;
        padding: 10px 33px;
        color: #FFF;
      }
    }
  }
  &__store{
    display: flex;
    align-items: center;
  }
  &__link{
    cursor: pointer;
    margin-right: 30px;
    flex-shrink: 1;
    &:last-child{
      margin: 0;
    }
  }
  &__picture{
    position: absolute;
    top: -20px;
    right: -140px;
    max-height: 496px;
  }
}