.banner{
  margin-top: 110px;
  position: relative;
  &__info{
    width: 510px;
    position: relative;
    align-items: center;
    margin: auto 0;
  }
  &__title{
    position: relative;
    color: #021206;
    @include before_dot(19%,22px,block);
    span{
      color: $main-color;
      @include before_mini-dot(17%,23px,block);
    }
  }
  &__subtitle{
    padding-top: 25px;
    font-weight: 400;
    span{
      font-weight: 500;
    }
  }
  &__form{
    padding-top: 30px;
    width: 470px;
    .banner-form{
      &__block{
        position: relative;
      }
      &__input{
        width: 100%;
        height: 65px;
        padding: 19px 145px 19px 25px;
        border: none;
        border-radius: 6px;
        font-size: 18px;
        line-height: 160%;
        filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
      }
      &__btn{
        position: absolute;
        right: 6px;
        top: 8px;
        padding: 10px 33px;
        color: #FFF;
      }
    }
  }
  &__store{
    padding-top: 37px;
    display: flex;
    align-items: center;
  }
  &__link{
    cursor: pointer;
    padding-right: 30px;
    &:last-child{
      padding: 0;
    }
  }
  &__picture{
    position: absolute;
    top: -20px;
    right: -140px;
  }
}