.btn-primary{
  margin: 0;
  padding: 15px 30px;
  border-radius: 6px;
  background: #F44545;
  border: none;
  cursor: pointer;
  color: #FFF;
  font-size: 18px;
  line-height: 160%;
  font-weight: 500;
  &:hover{
    background: $main-color;
    transition: all .3s;
  }
}
.btn-secondary{
  margin: 0;
  padding: 15px 25px;
  background: transparent;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 160%;
  font-weight: 500;
  &:hover{
    background: transparent;
    color: #F44545;
    transition: all .3s;
  }
}