.header{
  padding-top: 35px;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    height: 30px;
    width: 147px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .header-nav{
    &__list{
      display: flex;
    }
    &__item{
      padding-right: 45px;
      &:last-child{
        padding: 0;
      }
    }
    &__link{
      font-size: 18px;
      line-height: 160%;
      font-weight: 400;
      &:hover{
        color: $main-color;
        transition: all .3s;
      }
    }
  }
  &__control{
    display: flex;
    align-items: center;
  }
  &__register{
    color: #FFF;
  }
}