@media (max-width: 1600px) {
  .banner{
    &__picture{
      height: 450px;
      right: -60px;
    }
  }
  .software{
    &__laptop{
      height: 600px;
      right: 60px;
    }
  }
}
@media (max-width: 1439px) {
  .software{
    &__block-left{
      left: 0;
    }
  }
}
@media (max-width: 1320px) {
  .banner{
    &__picture{
      height: 380px;
      right: 40px;
    }
  }
  .software{
    &__laptop{
      height: 550px;
      right: 40px;
    }
  }
  .price{
    &__slider{
      width: 95%;
    }
    &__circle{
      display: none;
    }
  }
}
@media (max-width: 1240px) {
  .container {
    max-width: 1180px;
  }
  .software{
    &__block{
      column-gap: 40px;
    }
  }
}
@media (max-width: 1200px) {
  .h1, h1 {
    font-size: 46px;}

  .h2, h2 {
    font-size: 38px; }
  .container {
    max-width: 960px;
  }
  .banner{
    margin-top: 80px;
    &__block{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__info{
      width: 410px;
    }
    &__title{
      @include before_dot(14%,18px,block);
      span{
        @include before_mini-dot(11%,19px,block);
      }
    }
    &__form{
      padding-top: 30px;
      width: 100%;
    }
    &__picture{
      height: 320px;
      top: 50px;
      right: 0;
    }
  }
  .clients{
    margin-top: 80px;
  }
  .software{
    margin-top: 80px;
    &__block{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__wrapper{
      margin-top: 40px;
      order: 2;
      grid-template-columns: repeat(2, 282px);
    }
    &__info{
      order: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__control {
      margin: 0 auto;
      padding-top: 30px;
      display: flex;
    }
    &__pictures{
      margin-top: 40px;
      order: 2;
      height: 100%;
    }
    &__laptop{
      display: none;
    }
  }
  .price{
    margin-top: 80px;
    &__cards{
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 40px;
    }
  }
  .footer{
    margin-top: 80px;
    &__content{

    }
    &__info{
      width: 220px;
    }
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 748px;
  }
  .banner{
    &__info{
      margin: 0 auto;
    }
    &__picture{
      top: 0;
      margin: 40px auto 0 auto;
      position: relative;
    }
  }
  .clients{
    &__wrapper{
      grid-template-columns: repeat(3,minmax(130px, 1fr));
    }
  }
  .price{
    &__slider{
      width: 90%;
    }
    &__cards{
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 40px;
    }
    &__box{
      padding: 15px 0;
      width: 320px;
    }
    .price-box{
      &__title{
        margin-top: 15px;
      }
      &__list{
        margin-top: 15px;
      }
      &__item{
        padding: 15px 20px;
      }
      &__btn{
        margin-top: 15px;
      }
    }
  }
  .footer{
    &__content{
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
    }
  }
}
@media (max-width: 767px) {
  .h1, h1 {
    font-size: 38px;}

  .h2, h2 {
    font-size: 32px; }
  .btn-primary{
    font-size: 16px;
  }
  .btn-secondary{
    font-size: 16px;
  }
  .container {
    max-width: 540px;
  }
  .header{
    margin-top: 0;
    &__wrapper{
      margin-top: 20px;
    }
    &__nav{
      display: none;
    }
    &__menu{
      display: block;
    }
    &__btn{
      display: block;
    }
    .header-mobile{
      &__control{
        display: none;
      }
    }
  }
  .banner{
    &__title{
      @include before_dot(28%,15px,block);
      span{
        @include before_mini-dot(25%,16px,block);
      }
    }
  }
  .clients{
    position: relative;
    &__wrapper{
      display: flex;
      overflow: auto;
      gap: 30px;
    }
  }
  .software{
    &__wrapper{
      grid-template-columns: 282px;
    }
    &__pictures{
      width: 100%;
    }
  }

}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .header{
    &__control{
      display: none;
    }
    .header-mobile{
      &__control{
        display: flex;
      }
    }
  }
  .banner{
    &__info{
      width: 100%;
    }
    &__title{
      @include before_dot(13%,15px,none);
      span{
        @include before_mini-dot(10%,16px,none);
      }
    }
    &__picture{
      display: none;
    }
    //&__form{
    //  width: 100%;
    //  .banner-form{
    //    &__input{
    //      padding: 10px 30px 10px 10px;
    //    }
    //  }
    //}
  }
  .software{
    &__info{
      max-width: 400px;
    }
  }
  .price{
    &__cards{
      margin-top: 40px;
    }
    &__switch{
      display: none;
    }
    &__salary{
      display: none;
    }
    &__slider{
      display: none;
    }
  }
}
//@media (max-width: 320px) {
//  .container {
//    width: 100%;
//  }
//  .header{
//    &__control{
//      display: none;
//    }
//    .header-mobile{
//      &__control{
//        display: block;
//      }
//    }
//  }
//  .banner{
//    &__info{
//      width: 100%;
//    }
//    &__title{
//      @include before_dot(21%,15px);
//      span{
//        @include before_mini-dot(18%,16px);
//      }
//    }
//    &__picture{
//      display: none;
//    }
//  }
//}