@media (max-width: 1600px) {
  .banner{
    &__picture{
      height: 450px;
      right: -60px;
    }
  }
  .software{
    .software-info-shift{
      margin: 60px 0;
    }
    &__laptop{
      height: 500px;
      right: 0;
    }
  }
}
@media (max-width: 1439px) {
  .software{
    &__block-left{
      left: 0;
    }
    .software-info-shift{
      margin: 40px 0;
    }
    &__laptop{
      right: 0;
    }
  }
}
@media (max-width: 1320px) {
  .banner{
    &__picture{
      height: 380px;
      right: 40px;
    }
  }
  .software{
    &__laptop{
      height: 450px;
    }
  }
  .price{
    &__slider{
      width: 95%;
    }
    &__circle{
      display: none;
    }
  }
}
@media (max-width: 1240px) {
  .container {
    max-width: 1180px;
  }
  .software{
    &__block{
      column-gap: 40px;
    }
    &__laptop{
      height: 460px;
      left: 50%;
    }
  }
}
@media (max-width: 1200px) {
  .h1, h1 {
    font-size: 46px;}

  .h2, h2 {
    font-size: 38px; }
  .container {
    max-width: 960px;
  }
  .header{
    margin-bottom: 80px;
  }
  .banner{
    margin-bottom: 80px;
    &__block{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__info{
      width: 410px;
    }
    &__form{
      width: 100%;
    }
    &__picture{
      height: 320px;
      top: 50px;
      right: 0;
    }
  }
  .clients{
    margin-bottom: 80px;
  }
  .software{
    margin-bottom: 80px;
    &__block{
      display: flex;
    }
    &__card {
      width: 235px;
      padding: 15px 15px 20px 15px;
    }
    &__info{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__control {
      display: flex;
    }
    &__pictures{
      margin: auto 0;
      img{
        width: 450px;
        height: auto;
      }
    }
    .software-info-shift{
      margin: 20px 0;
    }
    &__laptop{
      height: 380px;
      left: auto;
      right: 0;
    }
  }
  .price{
    margin-bottom: 80px;
    &__cards{
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 40px;
    }
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 748px;
  }
  .banner{
    &__info{
      width: 100%;
    }
    &__store{
      margin-bottom: 40px;
    }
    &__picture{
      position: relative;
      width: 100%;
      height: auto;
      top: 0;
    }
  }
  .clients{
    &__wrapper{
      grid-template-columns: repeat(3,minmax(130px, 1fr));
    }
  }
  .software{
    &__block{
      flex-direction: column;
    }
    &__wrapper{
      width: 100%;
      order: 2;
      justify-content: center;
    }
    &__card {
      width: 340px;
    }
    &__info{
      width: 100%;
      margin: 0 0 40px 0;
      order: 1;
    }
    &__laptop{
      display: none;
    }
    &__pictures{
      order: 2;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  .price{
    &__slider{
      width: 90%;
    }
    &__cards{
      row-gap: 40px;
    }
    &__box{
      padding: 15px 0;
      width: 320px;
    }
    .price-box{
      &__title{
        margin-bottom: 15px;
      }
      &__list{
        margin-bottom: 30px;
      }
      &__item{
        padding: 15px 20px;
      }
    }
  }
  .footer{
    &__content{
      gap: 20px;
    }
  }
}
@media (max-width: 767px) {
  .h1, h1 {
    font-size: 38px;}
  .h2, h2 {
    font-size: 32px; }
  .btn-primary{
    font-size: 16px;
    &:hover{
      background: initial;
      color: initial;
      transition: none;
    }
  }
  .btn-secondary{
    font-size: 16px;
    &:hover{
      background: initial;
      color: initial;
      transition: none;
    }
  }
  .container {
    max-width: 540px;
  }
  .header{
    margin-top: 0;
    &__wrapper{
      margin-top: 20px;
    }
    &__nav{
      display: none;
    }
    &__menu{
      display: block;
    }
    &__btn{
      display: block;
    }
    .header-mobile{
      &__control{
        display: none;
      }
    }
  }
  .clients{
    position: relative;
    &__wrapper{
      display: flex;
      overflow: auto;
      gap: 30px;
    }
  }
  .software {
    &__card {
      width: 240px;
    }
  }
  .price{
    &__box{
      width: 240px;
    }
    &__cards{
      row-gap: 15px;
    }
    .price-box{
      &__item{
        padding-left: 15px;
        align-items: center;
      }
    }
  }
}
@media (max-width: 576px) {
  .btn-secondary{
    color: #FFFFFF;
    &:hover{
      color: #FFFFFF;
    }
  }
  .container {
    width: 100%;
  }
  .header{
    margin-bottom: 50px;
    &__control{
      display: none;
    }
    &__mobile{
      width: 70%;
    }
    .header-mobile{
      &__control{
        display: flex;
        button{
          color: #FFFFFF;
        }
      }
    }
  }
  .banner{
    margin-bottom: 50px;
    &__info{
      width: 100%;
    }
    &__link{
      margin-right: 20px;
    }
  }
  .clients{
    margin-bottom: 50px;
  }
  .software{
    margin-bottom: 50px;
    &__control{
      button{
        flex-grow: 1;
        flex-basis: 0;
      }
    }
    &__card {
      width: 200px;
    }
    &__question{
      color: #FF4D4D;
    }
  }
  .price{
    margin-bottom: 50px;
    &__slider{
      display: none;
    }
    &__salary{
      margin-bottom: 40px;
    }
  }
  .footer{
    &__info{
      width: 200px;
    }
  }
}
@media (max-width: 499px){
  .software{
    &__card{
      width: 185px;
    }
  }
  .price{
    &__box{
      width: 100%;
      margin-bottom: 40px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .footer{
    &__info{
      width: 180px;
    }
  }
}
@media (max-width: 425px){
  .clients{
    &__wrapper{
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      row-gap: 20px;
    }
  }
  .software{
    &__card{
      width: 100%;
    }
  }
  .footer{
    &__info{
      width: 160px;
    }
  }
}
@media (max-width: 375px) {
  .banner{
    &__link{
      margin-right: 10px;
    }
  }
  .software{
    &__learn{
      padding: 10px 15px;
    }
    &__question{
      &:hover{
        color: black;
      }
    }
  }
  .footer{
    &__info{
      width: 220px;
    }
  }
}