.software {
  margin-bottom: 110px;
  position: relative;
  &:last-child{
    margin-top: 260px;
  }
  &__block {
    display: flex;
    justify-content: space-between;
  }
  &__block-left{
    position: relative;
    left: -70px;
  }
  &__wrapper {
    width: 594px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  &__card {
    width: 282px;
    padding: 35px 24px 35px 35px;
    border-radius: 10px;
    border: 1px solid rgba(2, 18, 6, 0.10);
    box-shadow: 0 15px 65px 0 transparent;
    &:hover {
      box-shadow: 0 15px 65px 0 rgba(65, 77, 68, 0.15);
      border-color: transparent;
    }
  }
  &__box {
    width: 75px;
    height: 75px;
    img{
      border-radius: 10px;
    }
  }
  &__caption {
    padding-top: 25px;
    font-weight: 600;
  }
  &__text {
    padding-top: 10px;
  }
  &__info {
    width: 480px;
    margin: auto 0;
  }
  &-info-shift{
    margin: 90px 0;
  }
  &__title{
    color: #021206;
    margin-bottom: 20px;
  }
  &__subtitle {
    margin-bottom: 15px;
  }
  &__desc {
    margin-bottom: 30px;
    span {
      font-weight: 600;
    }
  }
  &__items {
  }
  &__item {
    position: relative;
    margin-top: 16px;
    padding-left: 30px;
    @include before-marker;
    &:first-child {
      margin: 0;
    }
  }
  &__control {
    display: flex;
  }
  &__learn {
    background: #282323;
    color: #FFFFFF;
  }
  &__download{
    color: #FFFFFF;
    font-weight: 500;
  }
  &__question {
    color: #FF4D4D;
    font-weight: 500;
    &:hover{
      color: #021206;
    }
  }
  &__laptop{
    position: absolute;
    bottom: 0;
    right: -140px;
  }
}
.software-color{
  background-color: rgba(142, 230, 201, .1);
}