.advantages {
  margin-bottom: 100px;
  &__title {
    text-align: center;
  }
  &__list{
    margin-bottom: 20px;
  }
  &__item {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: capitalize;
    position: relative;
    margin-left: 20px;
    font-weight: 500;
    &:before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #D99177;
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}