@media (max-width: 1240px) {
  .container {
    max-width: 960px;
  }
  .parameters {
    .parameters__inner {
      column-gap: 20px;
    }
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  .mb-100 {
    margin-bottom: 60px;
  }
  .mb-30 {
    margin-bottom: 20px;
  }
  .container {
    max-width: 760px;
  }
  .note {
    &__text {
      margin-bottom: 40px;
    }
  }
  .parameters {
    &__inner {
      display: flex;
      flex-direction: column;
    }

    &__size {
      margin-bottom: 30px;
    }

    &__subtitle {
      margin-bottom: 10px;
    }
  }
  .footer {
    &__inner {
      display: flex;
      flex-direction: column;
      justify-content: left;
    }

    &__text {
      margin-bottom: 20px;
    }

    &__links {
      justify-content: left;
    }
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .header {
    &__inner {
      display: flex;
      justify-content: space-between;
    }

    &__nav {
      display: none;
    }

    &__btn {
      display: block;
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: first baseline;
      margin-top: 20px;
    }

    &__item {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
}

@media (max-width: 540px) {
  .price {
    &__box {
      display: flex;
      flex-direction: column;
    }
  }
  th, td {
    font-size: 14px;
  }
  .footer {
    &__links {
      flex-direction: column;
      align-items: normal;
    }

    &__link {
      text-align: left;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 320px) {

}