.price{
  margin-bottom: 100px;
  &__title{
    text-align: center;
  }
  &__slider{
    margin-bottom: 30px;
  }
  &__box{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__text{
    padding: 0 20px;
    margin: auto 0;
    text-align: center;
  }
  &__dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  &__dot{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #F2E2CE;
    margin-right: 10px;
    transition: all .3s;
    cursor: pointer;
    &:last-child{
      margin-right: 0;
    }
    &.active{
      background-color: #D99177;
    }
  }
  &__image{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll;
}

th, td {
  border: 1px solid #D99177;
  padding: 10px 0;
  text-align: center;
}

th {
  background-color: #F2E2CE;
}