.btn-favorite {
  display: flex;
  border-radius: 12px;
  border: 1px solid #DEDFE7;
  cursor: pointer;
  color: #6E7284;
  align-items: center;
  padding: 0 12px;
  height: 46px;
  background-color: transparent;
  &:hover {
    background-color: #F8F8F8;
    color: #0A4ECB;
    border: #0A4ECB 1px solid;
  }
  &__inner{
    display: block;
    margin-left: 12px;
    padding: 8px 0;
  }
}
.btn-list{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}