.btn-favorite {
  display: flex;
  border-radius: 12px;
  border: 1px solid #DEDFE7;
  cursor: pointer;
  color: #6E7284;
  align-items: center;
  padding: 0 12px;
  height: 46px;
  background-color: transparent;
  &:hover {
    background-color: #F8F8F8;
    color: #0A4ECB;
    border: #0A4ECB 1px solid;
  }
  &__inner{
    display: block;
    margin-left: 12px;
    padding: 8px 0;
  }
}
.btn-list{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.btn-primary{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 36px;
  border: none;
  background: var(--Linear, linear-gradient(90deg, #F04716 0%, #FFC62F 100%));
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 12px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}
.btn-arrow{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 13px;
  border: none;
  background-color: rgba(54, 56, 63, 0.25);
  cursor: pointer;
  border-radius: 50%;
  color: #FFFFFF;
}