.header {
  &__bg-colorOne {
    background-color: #F4F5F8;
  }
  &__bg-colorTwo {
    background-color: #0A4ECB;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }

  &__city {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      color: #4788FF;
    }
  }

  &__icon-block {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__nav {
    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      display: flex;
      margin-right: 30px;
      font-size: 13px;
      font-weight: 600;
      color: #6E7284;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }
    }
    &-link{
      transition: all .3s;
      &:hover {
        color: #F04716;
      }
    }
  }

  &__phone {
    display: flex;
    align-items: center;

    &-text {
      font-size: 13px;
      font-weight: 500;
      color: #36383F;
      margin-right: 20px;
    }

    &-link {
      font-size: 13px;
      font-weight: 500;
      color: #4788FF;
      cursor: pointer;
    }
  }

  &__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }
  &__elements {
    display: flex;
    align-items: center;
  }

  &__search {
    position: relative;
    width: 518px;
    height: 46px;

    svg {
      position: absolute;
      color: #0A4ECB;
      z-index: 5;
      left: 14px;
      top: 50%;
      transform: translate(0, -50%);
    }

    &-input {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      border: 1px solid #DEDFE7;
      padding-left: 45px;
      padding-right: 20px;
      &:focus-visible{
        outline: none;
        border: 1px solid #0A4ECB;
      }
    }
  }
  &-elements__item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__topmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-item {
      position: relative;
      display: flex;
      padding: 18px 30px;
      font-size: 14px;
      font-weight: 500;
      color: #FFFFFF;
      align-items: center;
      transition: all .3s;
      &:hover {
        background-color: #04358F;
      }
    }
    &-link {
      display: flex;
        transition: all .3s;
      &:hover {
        color: #FFFA2F;
      }
    }
  }
}